@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap);
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-image: url('../../../../public/main-pattern2.png');
 background-color: #F5F5F5 ;
  font-family:-apple-system,Noto Sans KR,Roboto,Helvetica,Arial,sans-serif;
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  flex-direction: row;
  min-height: 100vh;
}

.title{
  
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.5); color: white;
   width: 50%;
   height: 55%;
   border-radius: 10px;
   padding-bottom: 3%;
  }

  .title-image{
    width: 100%;
    position: relative;
    display: inline-block;
  }

  #main-image{
    width: 100%;
    height: auto;
    position: relative;
  }
#main-title{
  font-family: 'Pacifico' , cursive;
  
  font-size: 4vw;
}
@media screen and (max-height: 600px) {
  #main-title{
    font-size: 40px;
  }
  
}
.button-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    gap:30px;
    margin:5% 0;
    padding: 5% 0;
   
  }
  
 
  .main-button {
    min-width: 220px; /* 버튼의 너비를 동일하게 설정 */
    min-height: 300px;
    width: 20%;
    margin: 20px 10px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  }

  .icon-style{
    position: absolute;
    top: -30px;
    right: -35px;

    font-size: 200px;
    color: lightblue;
    opacity: 0.15;
  }

  .btn-hr{
    width:100px;
    border-top:3px solid lightsalmon;
    display: inline-black;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .button-content > div{
    text-align: center;
  }

  
  b{
    font-size: 40px;
  }

  small{
    font-size: 15px;
  }

  .planner-text{
    display: flex;
  }

  .main-info{
    font-size: 1vw;
  }

  .modal{
    display: flex;
    align-items: center;
    justify-items: center;
    
  }

  .modal-hr{
    margin-bottom: 50px;
    width: 100%;
    border: 1px solid lightgray;
  }

  .main-search{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-items: center;
    padding: 10% 0;
    background-color: #F5F5F5;
    background-image: url('../../../../public/map3.jpg');
    background-size: cover;
    border-bottom: 1px solid;
    opacity: 0.5;
    
  }

  #movie-title{
    background-color: white;
    border: 0.5px solid;
  }

  .btn{
    background-color: white;
  }