.main-container{
    display: flex;
    justify-content: center;
    height: 100vh; 
    margin-top: 0; 
    flex-direction: column;
    align-items: flex-start;
}

.info{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
  }
.button-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10%;
    position: relative;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .main-button {
    width: 300px; /* 버튼의 너비를 동일하게 설정 */
    height: 300px;
    margin: 20px 10px;
  }
  
  .vertical-divider {
    position: absolute; /* 세로선을 절대 위치로 배치 */
    top: 0;
    bottom: 0;
    left: 50%; /* 세로선을 container의 가운데에 위치시킴 */
    top:50%;
    transform: translate(-50%, -50%);
    border-left: 1px solid lightgray;
    height: 300px;
  }
  
  .horizontal-divider {
    width: 100%;
    max-width: 300px; /* 가로선의 최대 너비를 버튼과 마진의 너비 합만큼 설정 */
    border-top: 1px solid lightgray;
    margin: 5px 0;
  }

  .btn-hr{
    width:100px;
    border-top:3px solid lightsalmon;
    display: inline-black;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .button-content > div{
    text-align: center;
  }

  
  b{
    font-size: 20px;
  }

  .row > * {
    margin: 10px;
  }