
.landing-page{
    display: flex;
    height: 100vh;
    justify-content: center;
    margin-top: 3%;

}

.btn-box{
    display: flex;
}

.search-form{
    display: flex;
}

.form_input{
    width: 350px;
}
.search-form-container{
    display: flex;
    justify-content:space-between;
}

.map{
    display: flex;
    width : 700px;
    height: 700px;
    margin-top: 30px;
}

.btn{
    height: 50px;
}
