
.landing-page{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    min-height: 100vh;
}
.landing-page__inner{
    min-width: 900px;
    width: 80%;
    min-height: 80vh;
    justify-content: center;
    border: 1px solid;
    border-color: #3366CC;
    border-radius: 10px;
    background-color: white;
    align-items: center;
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.5);
}

.btn-box{
    display: flex;
}

.search-form{
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
}

.form_input{
    width: 500px;
}
.search-form-container{
    display: flex;
    justify-content:center;
}

.map{
    display: flex;
    min-width : 300px;
    min-height: 300px;
    width: 50%;
    height: 70vh;
    margin-bottom: 5%;
    border: black 1px solid;
    
}
#search-result{
    min-width:40%;
    height: 70vh;
    margin-left: 10px;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 0;
    border: 1px solid;
    overflow: auto;
}

.btn{
    height: 50px;
}

.map-container{
    display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

ul,li{
  line-height:1;
  list-style: none;
  
}

a {
  text-decoration: none;
  color: black;
}

.result-text{
    font-size:20px;
    margin:0;
    background-color: lightblue;
}

.item{
    padding: 5px;
    margin:5px;
    border-color: lightskyblue;
    border-top: 1px solid lightgray;
}

.info-item{
    margin: 0;
}

.info-item:place-name{
    margin-bottom: 5px;
}

.info{
    gap:3px;
    
}


#pagination{
    background-color: lightblue;
}

.fc{
    justify-content: center;
    width: 80%;
}
