.logo {
    margin-left:10px;
    margin-top: 10px;
    width: 120px;
    height: auto;
  }
  
  .tab-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    
  }
  .MuiTab-root {
    margin-right: 20px;

  }

  a{
    margin-right: 20px;
  }

